.Title{
    background-color: #1C9678;
    color: white;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow:0px 0px 6px cornsilk;
}

.container{
    display: flex;
    justify-content: space-between;
    /* padding: 0px; */
    margin: 0px;    
}

.rules_input{
    justify-content: right;
    margin: 0px;
}
.left{
    width:1000px;
}
.button{
    padding: 5px;
}
.buttoni{
    margin:2px;
}
#ruleTitle{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rule{
    /* margin-left: 100px; */
}