body{
    background-color: aqua;
    
}

.introduction{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

/* #enter-game:hover{
    box-shadow: darkgreen  0px 3px 3px;
    cursor: wait;
} */
.my_name{
    font-size:30px;
}
.welcome{
    text-align: center;
    text-shadow:0px 0px 6px cornsilk;
}

#bottom{
    background-color: cornsilk;
    height: 80px;
    border:solid 2px #b071c0;
    border-radius: 20px 20px 20px 20px;
    color:darkgreen;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom:active{
    background-color: darkgreen;
    color:rgb(122, 192, 122);
}

.big{
    /* height: 300px; */
    display:flex;
    /* width:100%; */
    /* justify-content:center; */
    height: 250px;
    align-items: center;
}

.container{
    /* background-color: chartreuse; */
    width: 250px;
    height: 250px;
    align-content: flex-start;
    display:flex;
    /* flex-flow: row wrap; */
    /* justify-content:center; */
    /* align-items: center; */
    flex-wrap: wrap;              
}
.photo-size{
    max-width: 100%;
    height: auto;
} 



.row{
    width:30%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    border-style: solid;
    border-color: #893a9c;
    border-width:0px;
}
.row:hover{
    background-color: darkgrey;

}
.border-top{
    border-top-width:3px ;
}
.border-left{
    border-left-width: 3px;
}
.border-bottom{
    border-bottom-width: 3px;
}

.border-right{
    border-right-width: 3px;
}

h1{
    background-color: #1C9678;
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    
}

